.mw{
    min-width: 650px !important;
}
.no-wrap{
    flex-wrap: nowrap;
}
a.disabled {
    pointer-events: none;
    color: #8e8e8e;
}
.line{
    width: 50%;
    border: 0;
    border-top: 2px solid #17a2b8;
}
.navbar__header{
    background-color: #17a2b8!important;
    display: block;
}
.nav-link-color{
    color:#fff;
}
.nav-link:hover{
    opacity:0.7;
}
.nav-item:before{
    content:"";
    position:absolute;
    top:27px;
    height:19px;
    width: 2px;
    background-color:rgb(221, 217, 217);
    transform: translateY(-50%);
}
.nav-item__link{
    position: relative;
    font-size:0.9rem;
}
.navbar-brand-name{
    position: relative;
    top: -3px;
    font-size:1.4rem;
}
#navigation{
    justify-content:space-between;
    align-items:center;
}
.navbar .navbar__header-search{
    padding:8px 10px;
}
.search-form{
    margin-left:35px;
    padding: 6px;
}
.before-disabled:before{
    display:none;
}

/* Category-list */
.category-list{
    color:#000;
    display:-webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    overflow: hidden;
}
.category-list:hover{
    text-decoration: none;
    color: #007bff;
}
.card-body-padding{
    padding:1.3rem;
}

/* Product-list */
.product-info{
    background-color: #f5f5f5;
}
.product-image{
    height:260px;
    width:100%;
    border-radius: 2px;
}
.button-modify{
    background-color:#17a2b8;
    border-color:#ffF;
}
.content-category{
    font-size: 1.8rem;
    font-style: italic;
    font-weight: bold;
}
.content-category-button{
    margin-bottom:32px;
}
.footer{
    width: 100%;
    padding-top:16px;
    border-top:4px solid #17a2b8;
   overflow: hidden;
}
.footer-heading{
    font-size:1.0rem;
    text-transform: uppercase;
}
.footer-list{
    list-style: none;
    padding-left:2px;
}
.footer-item{
    display: flex;
    align-items: center;
    list-style: none;
    margin: 10px 0px;
    padding: 4px 0px;
}
.footer-item__link{
    text-decoration: none;
    font-size: 0.9rem;
    color:#8e8e8e;
    
}
.footer-item__link:hover{
    text-decoration:none; 
}
.footer-item-icon{
    margin-right: 8px;
}
.footer-bottom{
    font-size: 1.1rem;
    margin-top: 32px;
    padding: 8px 0;
    text-align: center;
    color: var(--text-color);
    background-color: #f5f5f5;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}