@media (min-width: 320px) and (max-width: 992px) {
    .nav-link{
        font-size:1.1rem;
    }
    .nav-item:before{
        display: none;
    }
    .footer-item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media (min-width:576px){
    .brand_container {
        display: none !important;
    }
}