{%extends 'base.html'%} {%load thumbnail%} {%load static %}
{% block title %} {{product.name}} {% endblock title %} 
{%block content%}
  <nav>
    <ol class="breadcrumb mt-2">
      <li class="breadcrumb-item">
        <a href="{{product.category.get_absolute_url}}">{{product.category}}</a>
      </li>
      <li class="breadcrumb-item active">{{product.name}}</li>
    </ol>
  </nav>
  <div class="row mt-2 mb-4">
    <div class="col-lg-4 col-md-6 col-12">
      <img
        src="{% thumbnail product.image 500x0 %}"
        alt="{{product.name}}"
        class="img-fluid mx-auto d-block"
      />
    </div>
    <div class="col-lg-8 col-md-6 col-12">
      <h2 class="mt-md-0 mt-2">{{product.name}}</h2>
      <h3 class="font-weight-light"> {{product.price}} VNĐ </h3>
      <p>{{product.description}}</p>
  </div>
{% endblock content%}
