.password_change-container{
    background-color: #fff;
    display: flex;
    flex-direction:column;
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0 1px 20px 0 rgb(0 0 0 / 10%);
}
.password_change-list-item{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    margin-bottom: 32px;
    position: relative;
    right: 25%
}
.password_change-label{
    margin-left: 2px;
    margin-top: 7px;
    flex:1;
    text-align:right;
}
.password_change-list{
    margin:32px 50px 32px 20px;
    
}
.password_change-input{
    max-width: 460px;
    margin-left:20px;
}
.password_change-btn{
    float:left;
    position:relative; 
    left:45%;
}
.wrong-password{
    font-size:2.8rem;
}
.password_font{
    font-size:2.3rem;
}